<ion-header >
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title
      class="toolbar-title ion-text-center primary--color-gradient ">
      Select a Template
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngFor="let card of cards" class="ion-margin">
    <ion-img
      [src]="card.src"
      (click)="onChooseTemplate(card.id)"
      class="ion-padding-bottom"></ion-img>
  </div>
</ion-content>
