.logo-app-img{
  width: 84px;
  height: 119px;
  //margin-top: 147px;
  //margin-top: 35%;
  margin-top: 8.5rem;

}

.app-name{
  font-size: 50px;
  font-weight: 700;
  line-height: 59px;
}

.greeting{
  font-size: 30px;
  font-weight: 700;
  //margin-top: 165px;
  //margin-top: 40%;
  margin-top: 9rem;
  line-height: 35px;
}

.app-name, .greeting {
  //color: #1F223E;
}

.login-buttons{
  //margin-top: 129px;
  //margin-top: 30%;
  margin-top: 7.5rem;

  ion-button{
    font-size: 16px;
    font-weight: 600;

    width: 283px;
    height: 50px;
    filter: drop-shadow( 0px 6px 6px rgba(0, 0, 0, 0.25));
    margin-bottom: 23px;
  }

}

.icon {
  width: 17px;
  height: 21px;
}

.icon--margin-right{
  margin-right: 30px;
}
