<ion-header >
  <ion-toolbar class="toolbar">
    <ion-img
      class="ion-margin-start"
      slot="start"
      src="../../assets/icon/app-icon@3x.png"
      alt="app logo"
      style="width: 21px; height: 31px"></ion-img>
    <ion-title
      class="toolbar-title ion-text-center primary--color-gradient">
      Home
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="onClickNew()">
        <div class="toolbar-button-text secondary--color-gradient">
          New
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  <div>
    <h1 class="user-name">Hi Keke Tang!</h1>
    <h3 class="greeting-message">God Morning</h3>
  </div>
  <div class="ion-text-center">
    <h3 class="informative-text" (click)="ownCardStateChange()">Your business card</h3>
  </div>

  <ng-container >
    <div *ngFor="let card of ownedCards" class="card-container">
      <ion-img  [src]="findImageSrc(card)" class="card"></ion-img>
    </div>
  </ng-container>

  <ng-container *ngIf="ownedCards.length === 0">
    <div
      class="image-container"
      (click)="ownCardStateChange()"
      [routerLink]="['new-card']">
      <ion-img class="card--filter-opacity"  src="../../assets/images/card-demo@3x.png"></ion-img>
      <div class="text-overlay">You don't have any presentation card, create one here!</div>
    </div>
  </ng-container>

</ion-content>
