.grid-container{
  padding: 16px;
}

ion-grid{
}

.template-button{
  --background: var(--color-gradient-secondary);
  height: 37px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.content-title{
  font-size: 24px;
  font-weight: 600;
}


