<ion-header >
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title
      class="toolbar-title ion-text-center primary--color-gradient ">
      New Card
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button >
        <div class="toolbar-button-text secondary--color-gradient">
          Save
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-container">
    <ion-grid class="">
      <ion-row
        class="
        ion-align-items-center
        ion-padding-bottom">
        <ion-col >
          <div class="content-title">
            Preview
          </div>
        </ion-col>
        <ion-col>
          <ion-button
            class="template-button ion-float-end"
            [routerLink]="['card-templates']">
            Select a template
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <div class="card " >
          <div class="card-inner ">
            <div class="card-front">
              <img src="../../assets/images/card-demo@3x.png" alt="Imagen Frontal">
            </div>
            <div class="card-back ">
              <img style="border-radius: 15px" src="../../assets/images/card-back-demo.png" alt="Imagen Trasera">
            </div>
          </div>
        </div>
      </ion-row>

    </ion-grid>
  </div>

</ion-content>


