<ion-header >
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title
      class="toolbar-title ion-text-center primary--color-gradient ">
      New Card
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button >
        <div class="toolbar-button-text secondary--color-gradient">
          Save
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grid-container">
    <ion-grid >
      <ion-row
        class="
        ion-align-items-center
        ion-justify-content-between
        ion-padding-bottom">
        <ion-col >
          <div class="content-title">
            Preview
          </div>
        </ion-col>
        <ion-col>
          <ion-button
            class="template-button" [routerLink]="['card-templates']">
            Select a template
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <img
          src="../../assets/images/card-demo@3x.png"
          class="card--filter-opacity">
      </ion-row>
    </ion-grid>
  </div>

</ion-content>


