ion-toolbar{
  --background: var(--color-toolbar);
}

.title--gradient{
  background: var(--color-gradient-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
