<ion-header >
  <ion-toolbar >
    <ion-img
      class="ion-margin-start"
      slot="start"
      src="../../assets/icon/app-icon@3x.png"
      alt="app logo"
      style="width: 21px; height: 31px"></ion-img>
    <ion-title
      class="ion-text-center primary--color-gradient"
      style="font-size: 18px">
      Home
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button>
        <div style="font-size: 16px;" class="secondary--color-gradient">
          New
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  <div>
    <h1 class="client-name">Hi Carlos Hernandez!</h1>
    <h3 class="greeting-message">God Morning</h3>
  </div>
  <div class="ion-text-center">
    <h3 class="informative-text">Your business card</h3>
  </div>

  <ng-container *ngIf="hasCardOwned">
    <div *ngFor="let src of cardSource">
      <ion-img  [src]="src" class="card"></ion-img>
    </div>
  </ng-container>

  <ng-container *ngIf="!hasCardOwned">
    <div class="image-container" (click)="onClickCard()">
      <ion-img class="image-overlay"  src="../../assets/images/card-demo@3x.png"></ion-img>
      <div class="text-overlay">You don't have any presentation card, create one here!</div>
    </div>
  </ng-container>
</ion-content>
