// custom variables ion variables.css

ion-toolbar{
  --background: var(--color-toolbar);
}

.client-name {
  font-size: 30px;
  font-weight: 500;
}

.greeting-message {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

.informative-text{
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0 35px;
}

.card{
  margin: 25px 0 26px;
}
